{% extends 'base.html' %}

{% block content %}
    {% if result %}
        <p>{{ result }}</p>
    {% endif %}
    <ul class="list-inline">
        {% for pb in pbs %}
            <li>
                <div>
                    <form action="{% url 'Building:buy' pb.building_id %}" method="post">
                        {% csrf_token %}
                        <p>{{ pb.building_id }}</p>
                        <p>Level: {{ pb.level }}</p>
                        <p>Per minute: {{ pb.perminute }}</p>
                        <p>Cost: {{ pb.cost }}</p>
                        <input type="hidden" value="{{ pb.building_id }}" name="building_id">
                        <input type="submit" value="Buy">
                    </form>
                </div>
            </li>
        {% endfor %}
        </ul>




{% endblock %}
